body {
	background-color: #9acd3270;
	padding: 50px;
}
ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}
ul a {
	text-transform: uppercase;
	font-weight: bold;
}
a:hover {
	color: #2E8B57;
}
a {
	color: black;
}
h1, h2 {
	text-align: center;
}
.wrapper {
	background: #ffffffa1;
	border-radius: 20px;
	max-width: 1024px;
	margin: 0 auto;
	padding: 30px
}
img {
	width: 100%;
	height: auto;
	margin: 0 0 10px;
}
.d1 {
	text-align: center;
}